<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="./app.js"></script>

</head>

<body>


    <!-- navbar start -->
    <div class="navbar  d-none d-sm-none d-md-none d-lg-flex" style="background-color: #00bb48ce;; color: white; ">

        <ul class="icon-list" style="list-style: none;  ">
            <li class="nav-item">
                <a class="nav-link icon" href="#"><i class="fab fa-facebook" style="font-size: x-large;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="#"><i class="fab fa-instagram" style="font-size: x-large;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="#"><i class="fab fa-twitter-square" style="font-size: x-large;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="#"><i class="fab fa-youtube" style="font-size: x-large;"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link icon" href="#"><i class="fab fa-google-plus" style="font-size: x-large;"></i></a>
            </li>

        </ul>




        <div class="right-items ">
            <!--  -->
            <ul class="navbar-right " style="margin-right: 25px; list-style: none;">

                <li class="nav-item-r">
                    <a class="  " href="# "></a> <i class="fas fa-envelope" style="font-size: x-large;"> </i>
                    dokonsulta@gmail.com</a>
                </li>


                <li class="nav-item-r ">
                    <a class="   " href="# "> <i class="fas fa-phone-volume " style="font-size: x-large; "></i>
                        (+63 82) 227-9599 / 227-9508 </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- navbar end -->


    <!-- main navbar -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <img src="logo3.png" alt="" srcset="" width="50px" height="50px">
        <div class="container-fluid ">
            <a class="navbar-brand " href="# "
                style="color:#00bb48ce;; font-size: 25px; font-weight: 600;">Dokonsulta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse mx-auto " id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="# " style="color:#00bb48ce; font-weight: bold; ">HOME</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# " style="color:#00bb48ce;; font-weight: bold; ">ABOUT</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# " style="color:#00bb48ce;; font-weight: bold; ">PRODUCTS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# " style="color:#00bb48ce;;font-weight: bold; ">BLOGS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# "
                        style="color:#00bb48ce;; font-weight: bold; ">GALLERY&CERTIFICATIONS</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="# " style="color:#00bb48ce;; font-weight: bold; ">CONTACTS</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#modalLoginForm"
                        style="color:#00bb48ce;; font-weight: bold; ">LOGIN</a>

                </li>
                <li class="nav-item ">
                    <a href="" data-toggle="modal" data-target="#modalRegisterForm" class="nav-link"
                        style="color:#00bb48ce;; font-weight: bold; ">SIGNUP </a>
                </li>

            </ul>
        </div>
    </nav>
    <section class="slider-sec ">

        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="./b6.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h5>We help to cure your illness</h5>
                                <h2>Welcome to the Dokonsulta<br /> Medical Services</h2>
                                <a href="#get1" class="primary-btn">Get started now</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hero__item set-bg" data-setbg="bg.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">

                                <h2>Dokonsulta deals with all kind of Medical Solutions</h2>
                                <a href="#get1" class="primary-btn">Get started now</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img3.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">

                                <h2>Dokonsulta deals with all kind of Medical Solutions</h2>
                                <a href="#get1" class="primary-btn">Get started now</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img">




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="bg2.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">

                                <h2>Dokonsulta deals with all kind of Medical Solutions</h2>
                                <a href="#get1" class="primary-btn">Get started now</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="hero__img">


                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
    </section>












    <section class="about-sec ">
        <div class="container ">
            <div class="row ">
                <div class="col-xs-11 col-sm-10 col-md-6 col-lg-6 mx-auto my-4 ">
                    <img src="./covid2.png ">
                </div>
                <div class="col-xs-11 col-sm-10 col-md-6 col-lg-6 mx-auto my-4 ">
                    <h2>Davao Polyclinic Inc. <br>is fully Vaccinated </h2>
                    <p> We provide the most full medical services, so every person could have the opportunity o recieve
                        qualitative medical help .</p>
                    <br>
                    <br>
                    <p> Our Clinic has grown to provide a world class facility for the treatment of tooth loss, dental
                        cosmetics and bore advanced restorative dentistry . We are among the most qualified implant
                        providers in the AUS with over 30 years of uality
                        training and experience . </p>
                    <button class="btn btn-primary ">READ MORE </button>
                </div>
            </div>
        </div>
    </section>
    <section class="product2-sec ">
        <div class="container ">
            <div class="row " style="display: flex; justify-content: space-between; ">
                <h2> POLYCLINIC DAVAO ,INC.</h2>

            </div>
            <div class="row " style="padding: 10px; ">
                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card1 "  >
                        <div class="card-body ">
                            <img src="./img3.png " style="width: 100%; ">
                            <div style="text-align: center; color: rgb(32, 132, 178); ">
                                <h5>Mission</h5>
                            </div>
                            <div style="text-align: center; ">
                                <p>POLYCLINIC DAVAO INC., aims to be a world class multi-specialty and diagnostic center
                                    providing out-patient health care services to the people of Mindanao.</p>

                            </div>
                            <div style="text-align: center; ">
                                <button class="btn btn-primary  "> Read More </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card1 "   >
                        <div class="card-body ">
                            <img src="./img2.jpg" style="width: 100%; ">
                            <div style="text-align: center; color: rgb(32, 132, 178); ">
                                <h5>VISION</h5>
                            </div>
                            <div style="text-align: center; ">
                                <p>There are many variations of passages of Lorem Ipsum available,We will achieve this
                                    goal by providing accurate, cost-effective high quality services using state of the
                                    art facilities guided by our basic values of unity , integrity, competence and
                                    compassion. </p>

                            </div>
                            <div style="text-align: center; ">
                                <button class="btn btn-primary "> Read More </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
 

    <section class="contact-sec ">
       
    </section>
    <section class="latest-sec ">
        <div class="container ">
            
            <div class="row " style="padding: 10px; ">
                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card " style="background-color: #fffdfd; ">
                        <div class="card-body ">
                            <img src="bg33.png" style="width: 100%; ">
                            <div>
                                <p style="font-size: large; font-weight: bold; "> text
                                     </p>
                            </div>
                            <div style="text-align: center; ">
                                <p style="font-size: medium; "> text

                                </p>

                            </div>
                            <hr>
                            <div style=" display: flex; justify-content: space-between; ">
                                <p style="font-size: smaller; ">By Admin </p>
                                <p style="font-size: smaller; "> 0 </p> <i class="far fa-heart "
                                    style="font-size: smaller; "></i>
                                <p style="font-size: smaller; "> 0 </p><i class="far fa-comments "
                                    style="font-size: smaller; "></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card " style="background-color: #fffdfd; ">
                        <div class="card-body ">
                            <img src="bg33.png" style="width: 100%; ">
                            <div>
                                <p style="font-size: large; font-weight: bold; "> text
                                </p>
                       </div>
                       <div style="text-align: center; ">
                           <p style="font-size: medium; "> text

                           </p>

                            </div>
                            <hr>
                            <div style=" display: flex; justify-content: space-between; ">
                                <p style="font-size: smaller; ">By Admin </p>
                                <p style="font-size: smaller; "> 0 </p> <i class="far fa-heart "
                                    style="font-size: smaller; "></i>
                                <p style="font-size: smaller; "> 0 </p><i class="far fa-comments "
                                    style="font-size: smaller; "></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card " style="background-color: #fffdfd; ">
                        <div class="card-body ">
                            <img src="bg33.png" style="width: 100%; ">
                            <div>
                                <p style="font-size: large; font-weight: bold; "> text
                                </p>
                       </div>
                       <div style="text-align: center; ">
                           <p style="font-size: medium; "> text

                           </p>

                            </div>
                            <hr>
                            <div style=" display: flex; justify-content: space-between; ">
                                <p style="font-size: smaller; ">By Admin </p>
                                <p style="font-size: smaller; "> 0 </p> <i class="far fa-heart "
                                    style="font-size: smaller; "></i>
                                <p style="font-size: smaller; "> 0 </p><i class="far fa-comments "
                                    style="font-size: smaller; "></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <div class="card " style="background-color: #fffdfd; ">
                        <div class="card-body ">
                            <img src="bg33.png" style="width: 100%; ">
                            <div>
                                <p style="font-size: large; font-weight: bold; "> text
                                </p>
                       </div>
                       <div style="text-align: center; ">
                           <p style="font-size: medium; "> text

                           </p>

                            </div>
                            <hr>
                            <div style=" display: flex; justify-content: space-between; ">
                                <p style="font-size: smaller; ">By Admin </p>
                                <p style="font-size: smaller; "> 0 </p> <i class="far fa-heart "
                                    style="font-size: smaller; "></i>
                                <p style="font-size: smaller; "> 0 </p><i class="far fa-comments "
                                    style="font-size: smaller; "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <footer class="product-sec ">
        <div class="container-fluid " style="color:white; background-color:rgb(22, 146, 230); padding-top:10px; ">
            <div class="row ">

                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <h5>HEALTH CARE</h5>
                    <p> 
                    </p>

                    <div>

                        <ul class="icon-list ">
                            <li class="nav-item ">
                                <a class="nav-link icon " href="# "><i class="fab fa-facebook "
                                        style="font-size: large; "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link icon " href="# "><i class="fab fa-instagram "
                                        style="font-size: large; "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link icon " href="# "><i class="fab fa-twitter-square "
                                        style="font-size: large; "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link icon " href="# "><i class="fab fa-youtube "
                                        style="font-size: large; "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link icon " href="# "><i class="fab fa-google-plus "
                                        style="font-size: large; "></i></a>
                            </li>
                        </ul>

                    </div>
                </div>


                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">
                    <h6>Departments</h6>
                    <hr>
                    <ul class="department-contents ">
                        <li><a href=" " style="color:white; ">Surgery and Radiology</a></li>
                        <li><a href=" " style="color:white; ">Family Medicine</a></li>
                        <li><a href=" " style="color:white; ">Women's Health</a></li>
                        <li><a href=" " style="color:white; ">Optician</a></li>
                        <li><a href=" " style="color:white; ">Pediatrics</a></li>
                        <li><a href=" " style="color:white; ">Dermatgaology</a></li>
                    </ul>

                </div>


                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">

                    <h6>Latest News</h6>
                    <hr>
                    <ul>

                        <li class="latest-news-item ">
                            <div><img src=" "></div>
                            
                            </div>
                        </li>

                        <li class="latest-news-item ">
                            <div><img src="  "></div>
                           
                            </div>
                        </li>

                        <li class="latest-news-item ">
                            <div><img src=" "></div>
                             </div>
                        </li>

                    </ul>

                </div>


                <div class="col-xs-11 col-sm-10 col-md-5 col-lg-3 mx-auto my-4 ">

                    <h6>Contact Us</h6>
                    <hr>
                    <ul>
                        <li class="contact-us-item ">
                            <div class="contact-us-icon "><i class="fas fa-map-marker-alt "
                                    style="font-size:x-large; "></i></div>
                            <div>Davao <br> <span class="address ">Davao </span>
                            </div>
                        </li>
                        <li class="contact-us-item ">
                            <div class="contact-us-icon "><i class="fas fa-phone-volume "
                                    style="font-size:x-large; "></i></div>
                            <div>Mon to fri  <br><span class="address ">+898 68679 575 </span>
                            </div>
                        </li>
                        <li class="contact-us-item ">
                            <div class="contact-us-icon "><i class="fas fa-envelope " style="font-size:x-large; "></i>
                            </div>
                            <div> Do you have any question ?<br><span class="address "> dokonsulta@gmail.com </span>
                            </div>
                        </li>
                        <li class="contact-us-item ">
                            <div class="contact-us-icon "><i class="fas fa-clock " style="font-size:x-large; "></i>
                            </div>
                            <div>Mon to fri : 8:30 to 18:00 <br><span class="address ">SUNDAY OPEN @ 6:00AM</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="bg-dark " style="text-align: center; padding: 10px; margin-top: 0px; ">
            <h5 style="color: white; padding: 8px; ">Copyright @ 2022Health Care </h5>
        </div>
    </footer>


    <!----sign in-->

    <div class="modal fade" id="modalLoginForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p class="modal-body">
                    Welcome! Enter your Email and password to Login.</p>
                    <form action="JavaScript:void(0)" onsubmit="login()">
                <div class="modal-body mx-3">


                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <h href="" >Email</h><br>
                     </i>
                        <input type="email" class="input" id="emaillog" placeholder=" Type Email  " required title="Email">

                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-lock prefix grey-text">
                            <h class="hpass" href="" >Password</h><br>
                        </i>
                        <input type="password" class="input" id="passwordlog" placeholder="Type Password" required
                            title="Password">
                    </div>
                </div>
                <button class="btn2" type="submit">Login</button>
                <p id="p2"> </p>
</form>

                <div class="modal-footer d-flex justify-content-center">
                    <div class="orsign">
                        <div class="col1">
                            <p class="p1"> or <br> Login with</p>
                            <a href="#" class="fb btn">
                                <i class="fab1 fab fa-facebook fa-fw"></i>
                            </a>
                            <a href="#" class="twitter btn">
                                <i class="fab2 fab fa-twitter fa-fw"></i>
                            </a>
                            <a href="#" class="google btn">
                                <i class="fab3 fab fa-google fa-fw"></i>
                            </a>
                        </div>

                        <p data-dismiss="modal" title="Don't have and account?">Don't have an account<a href=""
                                data-toggle="modal" data-target="#modalRegisterForm"> Sign up </a> </p>
                    </div>
                </div>




            </div>
        </div>
    </div>
    </div>

    <!-- signup modal-->

    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>


                <div class="formArea">

                    <form action="JavaScript:void(0)" onsubmit="signup()">
                        <div class="sign-up">

                            <p>Welcome! Enter your Information to regester. </p>
                            <!---- Doctor
                First name
                Middle name
                gender
                email
                password
                date of birth
                Specialty


                Usertable
                First_name
                last_name
                Middle name
                gender
                date of birth
                 email address
                 contact number

                 ---->
                            <!--
        <p  >profile pic
            <span style="color:black; font-size:80%;"> ( 1 x 1 Prefered) </span>
        </p>
        <input type="file" id="profilePic" required title="Upload Pic">
        <br />
        <br>
        <input type="text" class="input" id="specialty"  for="Specialty" required title="Full Name">
         -->
                            <input type="text" class="input" id="fname" placeholder="First name" required title="fname">
                            <input type="text" class="input" id="lname" placeholder="Last name" required title="lname">
                            <input type="text" class="input" id="mname" placeholder="Middle name" required
                                title="mname">
                            <input type="text" class="input" id="mnum" placeholder="Mobile Number" required
                                title="mnum">
                            <input type="email" class="input" id="email" placeholder="Email  " required title="Email">
                            <input type="password" class="input" id="password" placeholder="Type Password" required
                                title="Password">
                            <!---   <label for="sel1" style="color:#ff5722">Date of Birth</label>
                            <input type="date" class="input" id="age"   required title="Age">
                            <br />-->

                            <p class="pbirth">Birthday</p>
                            <div class="birtdate">
                                <select aria-label="Month" name="birthday_month" id="month" title="Month"
                                    class="_9407 _5dba _9hk6 _8esg" aria-describedby="js_1ht">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6" selected="1">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select aria-label="Day" name="birthday_day" id="day" title="Day"
                                    class="_9407 _5dba _9hk6 _8esg">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14" selected="1">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                                <select aria-label="Year" name="birthday_year" id="year" title="Year"
                                    class="_9407 _5dba _9hk6 _8esg">
                                    <option value="2022" selected="1">2022</option>
                                    <option value="2021">2021</option>
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                    <option value="1989">1989</option>
                                    <option value="1988">1988</option>
                                    <option value="1987">1987</option>
                                    <option value="1986">1986</option>
                                    <option value="1985">1985</option>
                                    <option value="1984">1984</option>
                                    <option value="1983">1983</option>
                                    <option value="1982">1982</option>
                                    <option value="1981">1981</option>
                                    <option value="1980">1980</option>
                                    <option value="1979">1979</option>
                                    <option value="1978">1978</option>
                                    <option value="1977">1977</option>
                                    <option value="1976">1976</option>
                                    <option value="1975">1975</option>
                                    <option value="1974">1974</option>
                                    <option value="1973">1973</option>
                                    <option value="1972">1972</option>
                                    <option value="1971">1971</option>
                                    <option value="1970">1970</option>
                                    <option value="1969">1969</option>
                                    <option value="1968">1968</option>
                                    <option value="1967">1967</option>
                                    <option value="1966">1966</option>
                                    <option value="1965">1965</option>
                                    <option value="1964">1964</option>
                                    <option value="1963">1963</option>
                                    <option value="1962">1962</option>
                                    <option value="1961">1961</option>
                                    <option value="1960">1960</option>
                                    <option value="1959">1959</option>
                                    <option value="1958">1958</option>
                                    <option value="1957">1957</option>
                                    <option value="1956">1956</option>
                                    <option value="1955">1955</option>
                                    <option value="1954">1954</option>
                                    <option value="1953">1953</option>
                                    <option value="1952">1952</option>
                                    <option value="1951">1951</option>
                                    <option value="1950">1950</option>
                                    <option value="1949">1949</option>
                                    <option value="1948">1948</option>
                                    <option value="1947">1947</option>
                                    <option value="1946">1946</option>
                                    <option value="1945">1945</option>
                                    <option value="1944">1944</option>
                                    <option value="1943">1943</option>
                                    <option value="1942">1942</option>
                                    <option value="1941">1941</option>
                                    <option value="1940">1940</option>
                                    <option value="1939">1939</option>
                                    <option value="1938">1938</option>
                                    <option value="1937">1937</option>
                                    <option value="1936">1936</option>
                                    <option value="1935">1935</option>
                                    <option value="1934">1934</option>
                                    <option value="1933">1933</option>
                                    <option value="1932">1932</option>
                                    <option value="1931">1931</option>
                                    <option value="1930">1930</option>
                                    <option value="1929">1929</option>
                                    <option value="1928">1928</option>
                                    <option value="1927">1927</option>
                                    <option value="1926">1926</option>
                                    <option value="1925">1925</option>
                                    <option value="1924">1924</option>
                                    <option value="1923">1923</option>
                                    <option value="1922">1922</option>
                                    <option value="1921">1921</option>
                                    <option value="1920">1920</option>
                                    <option value="1919">1919</option>
                                    <option value="1918">1918</option>
                                    <option value="1917">1917</option>
                                    <option value="1916">1916</option>
                                    <option value="1915">1915</option>
                                    <option value="1914">1914</option>
                                    <option value="1913">1913</option>
                                    <option value="1912">1912</option>
                                    <option value="1911">1911</option>
                                    <option value="1910">1910</option>
                                    <option value="1909">1909</option>
                                    <option value="1908">1908</option>
                                    <option value="1907">1907</option>
                                    <option value="1906">1906</option>
                                    <option value="1905">1905</option>
                                </select>
                            </div>
                            <!--radio gender-->

                            <div class="divgen">
                                <label for="sel1" class="">Gender</label>
                                <select class="form-control" id="gender" name="sellist1" required title="Gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <button class="btncreate btn-info" id="btncreate" s type="submit" title="Sign up">
                                <i class="fa fa-user-circle-o"></i> Create Account</button>

                        </div>
                    </form>
                </div>
                <p id="p2"> </p>

                <div class="orsign">



                    <div class="col1">
                        <p class="p1"> or Sign Up with</p>
                        <a href="#" class="fb btn">
                            <i class="fab1 fab fa-facebook fa-fw"></i>
                        </a>
                        <a href="#" class="twitter btn">
                            <i class="fab2 fab fa-twitter fa-fw"></i>
                        </a>
                        <a href="#" class="google btn">
                            <i class="fab3 fab fa-google fa-fw"></i>
                        </a>
                    </div>
                    <p class="already" data-dismiss="modal" title="Don't have and account?">Already have an
                        account?<a href="" data-toggle="modal" data-target="#modalRegisterForm"> Login </a> </p>

                </div>
            </div>


        </div>
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>
    <script src="./app.js"></script>
    <script src="./script/sweetalert.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</body>

</html>